<h1><%= @book.title %></h1>
<h2>Author: <%= @book.author %></h2>
<p><%= @book.isbn %></p>

<% @reviews.each do |review| %>
  <li>
    Rating: <%= review.rating %>
    Body: <%= review.body %>
  </li>
<% end %>


<%= link_to "Add a Review", new_book_review_path(@book) %>
