<h2>Book: <%= @book.title %> </h2>
<h4>Author: <%= @book.author %>  </h4>
<p>ISBN: <%= @book.isbn %> </p>

<h3>Reviews: </h3>

<ul>
  <% @reviews.each do |review| %>
    <li>
      <%= review.rating %> | <%= review.body %>
    </li>
  <% end %>
</ul>

<%= link_to "Add a Review", new_book_review_path(@book) %>
